/*
 * Copyright © 2022 App Nerds LLC
 */

members-table popup-menu {
  width: 10rem;
}

.member-table-role-block {
  width: 48px;
  height: 42px;
  display: inline-block;
  border: 1px solid black;
}

