/*
 * Copyright © 2022 App Nerds LLC
 */

members-table popup-menu {
  width: 10rem;
}

.member-table-role-block {
  width: 48px;
  height: 42px;
  display: inline-block;
  border: 1px solid black;
}

.admin-manage-roles-page table > tbody > tr > td:nth-child(2) {
  text-align: center;
}

.admin-manage-roles-page table > tbody > tr > td:nth-child(3) {
  text-align: right;
}

.admin-manage-roles-page popup-menu {
  width: 6rem;
}
