{{template "layout" .}}
{{define "title"}}Member Profile{{end}}

{{define "content"}}
<div class="member-profile-page">
  <nav>
    <div class="avatar-block">
      <img src="/frame-static/images/blank-profile-picture.png" alt="Blank profile picture" />
      <a href="/member/profile/avatar">Edit Avatar</a>
    </div>

    <h2></h2>
  </nav>
</div>
{{end}}
