{{template "layout" .}}
{{define "title"}}Unexpected Error{{end}}

{{define "content"}}
  <div class="unexpected-error-page">
    <h2>Unexpected Error</h2>

    <p>
      We are sorry but the site has experienced an unexpected error. Please 
      try again later.
    </p>
  </div>
{{end}}
