{{template "admin-layout" .}}
{{define "title"}}Dashboard{{end}}

{{define "content"}}
<h2>Dashboard</h2>

<p>
  Welcome to the dashboard! Are you looking for your site's home page?
  <a href="/">Click here!</a>
</p>
{{end}}

