{{template "admin-layout" .}}
{{define "title"}}Manage Roles{{end}}

{{define "content"}}
<div class="admin-manage-roles-page">
  <h2>Manage Roles</h2>

  <table>
    <caption>Manage Roles</caption>
    <thead>
      <tr>
        <th scope="col">Role Name</th>
        <th scope="col">Color</th>
        <th scope="col"><span class="sr-only">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{- range .Roles}}
      <tr>
        <td scope="row">{{.Role}}</td>
        <td>
          <span class="member-table-role-block" style="background-color: {{.Color}};"></span>
        </td>
        <td>
          {{if gt .ID 2}}
            <button class="action-button" alt="Action menu" title="Action menu" id="action-menu-{{.ID}}"><i data-feather="menu"></i></button>
            <popup-menu trigger="#action-menu-{{.ID}}">
              <popup-menu-item id="edit-role_{{.ID}}" text="Edit" icon="edit-3" class="role-popup-menu-item"></popup-menu-item>
            </popup-menu>
          {{else}}
            &nbsp;
          {{end}}
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
