{{template "admin-layout" .}}
{{define "title"}}Manage Members{{end}}

{{define "content"}}
<div class="admin-members-manage-page">
  <h2>Manage Members</h2>
  <members-table></members-table>
</div>
{{end}}
